<div id="welcome">
  <div class="container">
    <h1>Insurance Claim Submitted!</h1>
    <hr/>
    <p>You will be notified about the results by email you email address.</p>

  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
