<div id="submitted">
  <div class="container">
    <h1>Insurance Claim Submitted!</h1>
    <hr/>
    <p>
      You will be notified at <%= me.emailAddress; %>.
    </p>
  </div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
