<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is a page that only logged-in people can visit. Don't you feel special? Try clicking on a button below to do some things you can't do when you're logged out.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Submit insurance claim</button>
    </div>
  </div>

  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Issue new claim</h2>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <form class="form-horizontal">

          <!-- Multiple Checkboxes -->
          <div class="form-group">
            <label class=" control-label" for="reasonsForVisit">Reasons for visit</label>
            <div class="">
              <div class="checkbox">
                <label for="reasonsForVisit-0">
                  <input type="checkbox" name="reasonsForVisit" id="reasonsForVisit-0" value="1">
                  Wellness services
                </label>
              </div>
              <div class="checkbox">
                <label for="reasonsForVisit-1">
                  <input type="checkbox" name="reasonsForVisit" id="reasonsForVisit-1" value="2">
                  Injury
                </label>
              </div>
              <div class="checkbox">
                <label for="reasonsForVisit-2">
                  <input type="checkbox" name="reasonsForVisit" id="reasonsForVisit-2" value="3">
                  Illness
                </label>
              </div>
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class=" control-label" for="description">Description</label>
            <div class="">
              <textarea class="form-control" id="description" name="description">On the 25th of February my pet ...</textarea>
            </div>
          </div>

          <!-- Search input-->
          <div class="form-group">
            <label class=" control-label" for="hospital">Hospital / clinic</label>
            <div class="">
              <input id="hospital" name="hospital" type="search" placeholder="Name of the hospital" class="form-control input-md" required="">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="docName">Name of the doctor</label>
            <div class="">
              <input id="docName" name="docName" type="text" placeholder="Peter Maricovk" class="form-control input-md" required="">
              <span class="help-block">Only type name, not degree. If more doctors were involved, split names with comma</span>
            </div>
          </div>

          <!-- Appended Input-->
          <div class="form-group">
            <label class=" control-label" for="dateFrom">Treatment started</label>
            <div class="">
              <div class="input-group">
                <input id="dateFrom" name="dateFrom" class="form-control" placeholder="18-02-2019" type="text" required="">
                <span class="input-group-addon">select date</span>
              </div>

            </div>
          </div>
          <!-- Appended Input-->
          <div class="form-group">
            <label class=" control-label" for="dateTo">Treatment ended</label>
            <div class="">
              <div class="input-group">
                <input id="dateTo" name="dateTo" class="form-control" placeholder="18-03-2019" type="text">
                <span class="input-group-addon">select date</span>
              </div>

            </div>
          </div>
          <!-- File Button -->
          <div class="form-group">
            <label class=" control-label" for="descFileButton">Description of insurance event</label>
            <div class="">
              <input id="descFileButton" name="descFileButton" class="input-file" type="file">
            </div>
          </div>

          <!-- File Button -->
          <div class="form-group">
            <label class=" control-label" for="vetDocButton">Vet report</label>
            <div class="">
              <input id="vetDocButton" name="vetDocButton" class="input-file" type="file">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="invoice">Total cost</label>
            <div class="">
              <input id="invoice" name="invoice" type="text" placeholder="--€" class="form-control input-md" required="">
              <span class="help-block">In euros, only type number, not euro sign</span>
            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <label class=" control-label" for="radios">Money recipient</label>
            <div class="">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                Pay to me
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="radios" id="radios-1" value="2">
                Pay to vet
              </label>
            </div>
          </div>

      </form>
    </div>


    <div class="modal-footer flex-row-reverse justify-content-between">
      <button onclick="send()" class="btn btn-success">Submit</button>
      <button id="closeButton" type="button" data-dismiss="modal" class="btn btn-alert">Close</button>
    </div>
  </modal>
</div>

<script>
  function getValue(element) {
    return document.getElementById(element).value;
  }

  function getCheckedId() {
    if (document.getElementById('reasonsForVisit-0').checked)
      return 0;

    if (document.getElementById('reasonsForVisit-1').checked)
      return 1;

    if (document.getElementById('reasonsForVisit-2').checked)
      return 2;
  }

  function send() {
    console.log('sending');

    data = {
      description: getValue('description'),
      hospital: getValue('hospital'),
      docName: getValue('docName'),
      invoice: getValue('invoice'),
      vetDocButton: document.getElementById('vetDocButton').files[0].name,
      descFileButton: getValue('descFileButton'),
      dateFrom: getValue('dateFrom'),
      dateTo: getValue('dateTo'),
  }

    io.socket.post('/insuranceClaim', data, function (resData, jwRes) {
      if (jwRes.statusCode === 200) {
        document.getElementById('closeButton').click();
        window.location.replace('/welcome/submited');
      } else {
        alert("Wrong input!");
      }
    });

    // io.socket.request({
    //   method: 'post',
    //   url: '/insuranceClaim',
    //   headers: {
    //     'Content-Type': 'multipart/form-data',
    //   }
    // }, function (resData, jwres) {
    //   if (jwres.statusCode === 200) {
    //     document.getElementById('closeButton').click();
    //     window.location.replace('/welcome/submited');
    //   } else {
    //     alert("Wrong input!");
    //   }
    // });
  }
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
