<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>Welcome here you can submit your insurance claim!</p>
    <div class="buttons">
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Submit insurance claim</button>
    </div>
  </div>

  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Issue new claim</h2>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <ajax-form action="addInsuranceClaim" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <h5> Reason for visit </h5>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1" v-model.trim="formData.wellness">
          <label class="form-check-label" for="defaultCheck1">
            Wellness service
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" v-model.trim="formData.injury">
          <label class="form-check-label" for="defaultCheck2">
            Injury
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" v-model.trim="formData.illness">
          <label class="form-check-label" for="defaultCheck3">
            Illness
          </label>
        </div>

        <h5> Event description </h5>
        <div class="form-group">
          <textarea class="form-control" name="description" rows="4" cols="30" placeholder="Description of the insurance event..." v-model.trim="formData.description"></textarea>
        </div>

        <h5> Hospital </h5>
        <div class="form-group">
          <input type="text" name="hospital" placeholder="Hospital/Clinic" class="form-control" v-model.trim="formData.hospital"/>
        </div>

        <h5> Vets name </h5>
        <div class="form-group">
          <input type="text" name="vetName" placeholder="Vets Name" class="form-control" v-model.trim="formData.vetName"/>
        </div>

        <h5> Start of the treatment </h5>
        <div class="form-group">
          <input type="date" name="dateFrom" placeholder="Treatment started" class="form-control" v-model.trim="formData.dateFrom"/>
        </div>

        <h5> End of the treatment </h5>
        <div class="form-group">
          <input type="date" name="dateTo" placeholder="Treatment ended" class="form-control" v-model.trim="formData.dateTo"/>
        </div>

        <h5> Report </h5>
        <div class="form-group">
          <input type="file" ref="vet_file" placeholder="Report" class="form-control-file" name="report" v-on:change=saveFiles($event) />
        </div>

        <h5> Invoice total </h5>
        <div class="form-group">
          <input name="invoice" class="form-control" v-model="formData.invoice" type="number">
<!--          <input type="number" placeholder="Invoice Total" class="form-control" v-model="formData.invoiceTotal"/>-->
        </div>


        <div class="form-group">
          <label class=" control-label" for="radios">Money recipient</label>

          <label class="radio-inline" for="radios-0">
            <input type="radio" name="radios" id="radios-0" value="0" checked="checked" v-model="formData.payToVet">
            Pay to me
          </label>

          <label class="radio-inline" for="radios-1">
            <input type="radio" name="radios" id="radios-1" value="1" v-model="formData.payToVet">
            Pay to vet
          </label>
        </div>

        <div class="modal-footer flex-row-reverse justify-content-between">
          <ajax-button :syncing="syncing" class="btn btn-success">Submit</ajax-button>
          <button id="closeButton" type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
        </div>
      </ajax-form>
    </div>
  </modal>
</div>

<!--<script>-->
<!--  function getValue(element) {-->
<!--    return document.getElementById(element).value;-->
<!--  }-->

<!--  function getCheckedId() {-->
<!--    if (document.getElementById('reasonsForVisit-0').checked)-->
<!--      return 0;-->

<!--    if (document.getElementById('reasonsForVisit-1').checked)-->
<!--      return 1;-->

<!--    if (document.getElementById('reasonsForVisit-2').checked)-->
<!--      return 2;-->
<!--  }-->

<!--  function send() {-->
<!--    console.log('sending');-->

<!--    data = {-->
<!--      description: getValue('description'),-->
<!--      hospital: getValue('hospital'),-->
<!--      docName: getValue('docName'),-->
<!--      invoice: getValue('invoice'),-->
<!--      vetDocButton: document.getElementById('vetDocButton').files[0].name,-->
<!--      descFileButton: getValue('descFileButton'),-->
<!--      dateFrom: getValue('dateFrom'),-->
<!--      dateTo: getValue('dateTo'),-->
<!--  }-->

<!--    io.socket.post('/insuranceClaim', data, function (resData, jwRes) {-->
<!--      if (jwRes.statusCode === 200) {-->
<!--        document.getElementById('closeButton').click();-->
<!--        window.location.replace('/welcome/submited');-->
<!--      } else {-->
<!--        alert("Wrong input!");-->
<!--      }-->
<!--    });-->

<!--    // io.socket.request({-->
<!--    //   method: 'post',-->
<!--    //   url: '/insuranceClaim',-->
<!--    //   headers: {-->
<!--    //     'Content-Type': 'multipart/form-data',-->
<!--    //   }-->
<!--    // }, function (resData, jwres) {-->
<!--    //   if (jwres.statusCode === 200) {-->
<!--    //     document.getElementById('closeButton').click();-->
<!--    //     window.location.replace('/welcome/submited');-->
<!--    //   } else {-->
<!--    //     alert("Wrong input!");-->
<!--    //   }-->
<!--    // });-->
<!--  }-->
<!--</script>-->

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
